<!-- enhanced.html -->
{% extends 'base.html' %}   <!-- 繼承base.html -->
{% load static %}
{% block title %} 
    誠意酒店– Chéngyì Hotel
{% endblock %}


{% block content %}
    <!-- Start Features Area -->
    <section class="features section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">誠意酒店 – Chéngyì Hotel</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">除了住宿我們提供更多加值服務</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-cloud-upload"></i>
                        <h3>高空透明無邊際泳池</h3>
                        <p>位於高雄酒店24樓的高空懸挑透明無邊際泳池，是高雄可遠眺絕美夕陽的獨家觀賞視角，
                            並不定時舉辦池畔派對活動，提供旅人豐富的休閒選項，讓每次來到此都是獨一無二的體驗感受。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-lock"></i>
                        <h3>Papillon</h3>
                        <p>「Papillon」坐落於高雄亞洲新灣區的酒店26樓，提供舒適優雅的用餐氛圍，
                            由法籍米其林二星主廚Xavier Boyer博雅維操刀，重塑台灣經典風格且深具國際水準的飲食新形態，
                            與您攜手探索別開生面的美食篇章。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-reload"></i>
                        <h3>承風青鳥</h3>
                        <p>位於高雄酒店7樓的承風青鳥，是台灣當代最有代表性的獨立書店、文化媒體和一個最有創造力的文化平台。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-shield"></i>
                        <h3>RAR BAR</h3>
                        <p>RAR BAR位於酒店24樓，
                            全台唯一的高空懸挑無邊際透明泳池池畔酒吧，五星級酒店內的Cyberpunk BAR，自此重新定義港都時尚夜生活，提供經典與創意特調。.</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-cog"></i>
                        <h3>高空健身房俱樂部</h3>
                        <p>全台獨一無二的高空健身視野，兼具運動專業與生活品味的健身空間。體驗旅程打出Punch Out精彩一戰。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-layers"></i>
                        <h3>BAR KAO</h3>
                        <p>360度高空環景酒吧，坐擁亞灣區景致遠眺絕佳美景，酒吧細膩且不失奢華風格，餘暉中倚靠在獨立隱密式包廂中，美酒搭配創意分子料理使味蕾獲得豐富層次享受，無疑是高雄不可錯過的娛樂新地標。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Achievement Area -->
    <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="title">
                        <h2>關於我們的加值服務</h2>
                        <p>多年在地經營，我們承諾給顧客更多的服務加值</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                                <h3 class="counter"><span id="secondo1" class="countup" cup-end="100">100</span>%</h3>
                                <p>住宿品質</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                                <h3 class="counter"><span id="secondo2" class="countup" cup-end="250">250</span>K</h3>
                                <p>住宿人數</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                                <h3 class="counter"><span id="secondo3" class="countup" cup-end="95">95</span>k+</h3>
                                <p>住宿好評</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Achievement Area -->

    <!-- Start Pricing Table Area -->
    <section class="pricing-table section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">本季最新住房專案優惠</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">兩人拎包住，一人免費住宿</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">一泊二食住房專案<br>預訂期間：2022年8月2日至2023年1月2日</h4>
                            <div class="price">
                                <h2 class="amount">NT1,200元</h2>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">即刻訂房</a>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Start Table Content -->
                        <div class="table-content">
                            <h4 class="middle-title">其他說明</h4>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li><i class="lni lni-checkmark-circle"></i> 早餐，依房型人數提供。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 無事先訂位則依現場時段座位安排。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 平日午餐可點選「880+10%主餐」</li>
                                <li><i class="lni lni-checkmark-circle"></i> 假日定義：週五晚上、週六日全天、國定假日</li>
                            </ul>
                            <!-- End Table List -->
                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">一泊二食住房專案<br>預訂期間：2022年8月2日至2023年1月2日</h4>
                            <div class="price">
                                <h2 class="amount">NT1,200元</h2>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">即刻訂房</a>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Start Table Content -->
                        <div class="table-content">
                            <h4 class="middle-title">其他說明</h4>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li><i class="lni lni-checkmark-circle"></i> 早餐，依房型人數提供。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 無事先訂位則依現場時段座位安排。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 平日午餐可點選「880+10%主餐」</li>
                                <li><i class="lni lni-checkmark-circle"></i> 假日定義：週五晚上、週六日全天、國定假日</li>
                            </ul>
                            <!-- End Table List -->
                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">一泊二食住房專案<br>預訂期間：2022年8月2日至2023年1月2日</h4>
                            <div class="price">
                                <h2 class="amount">NT1,200元</h2>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">即刻訂房</a>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Start Table Content -->
                        <div class="table-content">
                            <h4 class="middle-title">其他說明</h4>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li><i class="lni lni-checkmark-circle"></i> 早餐，依房型人數提供。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 無事先訂位則依現場時段座位安排。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 平日午餐可點選「880+10%主餐」</li>
                                <li><i class="lni lni-checkmark-circle"></i> 假日定義：週五晚上、週六日全天、國定假日</li>
                            </ul>
                            <!-- End Table List -->
                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".8s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">一泊二食住房專案<br>預訂期間：2022年8月2日至2023年1月2日</h4>
                            <div class="price">
                                <h2 class="amount">NT1,200元</h2>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">即刻訂房</a>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Start Table Content -->
                        <div class="table-content">
                            <h4 class="middle-title">其他說明</h4>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li><i class="lni lni-checkmark-circle"></i> 早餐，依房型人數提供。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 無事先訂位則依現場時段座位安排。</li>
                                <li><i class="lni lni-checkmark-circle"></i> 平日午餐可點選「880+10%主餐」</li>
                                <li><i class="lni lni-checkmark-circle"></i> 假日定義：週五晚上、週六日全天、國定假日</li>
                            </ul>
                            <!-- End Table List -->
                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Single Table-->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Pricing Table Area -->
{% endblock %}