<!--header.html-->
{% load static %}

<section id='email'>
    <div class="container">
        <div class='row'>
            <div class='col-md-8 offset-md-2 text-center'>
                <h3>快點成為我們獨家的會員，訂閱Email獲得最新住房優惠吧!</h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-8 offset-md-2 text-left'>		
                <p>最新會員獨家優惠立刻通知你！</p>        		  	
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="你的電郵">
                </div>
                <a class="btn btn-primary btn-lg" href="#" role="button">提交</a>
            </div>
        </div>
    </div>
</section>

<!--footer的區塊-->
<footer> 
    <div class="container">
        <div class='row'>
        <div class='col-md-4 text-left'>
            <img src="{% static 'img/logo.jpg' %}" width='25%'>
            <p>Chéngyì小編 - 台灣最好玩最好吃行程。生活悶悶地？加入我們一起GO啦！</p>
        </div>
        <div class='col-md-4 text-left'>
            <h4>連結</h4>
            <ul>
                <li><a href='index.html'>主頁</a></li>
                <li><a href='#'>相關行程</a></li>
            </ul>
            <ul>
                <li><a href='#'>常見問題</a></li>
                <li><a href='https://lin.ee/gXfrl0X'>聯絡我們</a></li>
            </ul>             
        </div>
        <div class='col-md-4 text-left'>
            <h4>聯絡我們</h4>
            <p>高雄市楠梓區<br>
            Phone: 07-333-3999<br>
            E-Mail: <a href='mailto:xxx@gmail.com'>xxx@gmail.com</a>
            </p>
        </div>
        </div>
    </div>
</footer>